@model Product
@{ ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Image" class="w-100 img-thumbnail img-fluid" alt="@Model.ProductName" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <h5 class="card-header">@Model.ProductName</h5>
                <div class="card-body">
                    <h5 class="card-title">@Model.ProductName</h5>

                    <p class="card-text">
                        <strong>Categories : </strong><getCategoryName product-id="@Model.ProductId"></getCategoryName>
                        @Model.UnitPrice
                    </p>

                    <a href="#" class="btn btn-primary ml-1 float-right">Add to Basket</a>
                    <a class="btn btn-primary btn btn-danger float-right" asp-action="Index" asp-controller="Home">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
